
<h1>Visits</h1>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <td>id</td>
  <td>status</td>
  <td>completed_at</td>
  <td>priority</td>
  <td>user_id</td>
  <td>institution_id</td>
  <td>institution_name</td>
  <td>to_visit_on</td>
  <td>action</td>
  <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.id %></td>
        <td><%= visit.status %></td>
        <td><%= visit.completed_at %></td>
        <td><%= visit.priority %></td>
        <td><%= visit.user_id %> </td>
        <td><%= visit.institution_id %></td>
        <td><%= link_to visit.institution.name, institution_path(visit.institution_id) %></td>
        <td><%= visit.to_visit_on.try(:strftime, "%d/%m/%Y") %></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'assign', assignment_visit_path(:id => visit.id, :user_id => 3), method: :post %></td>
        <td><%= link_to 'revert assign', revert_assignment_visit_path(:id => visit.id), method: :post %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

