
<h1>Visita a <%=  @visit.institution.name %> </h1>
<p id="notice"><%= notice %></p>


<%=  @visit.status %>
<%=  @visit.id %>
<%=  @visit.to_visit_on %>
<%= link_to @visit.institution.name, institution_path(@visit.institution_id) %>
<%= link_to "Visits", visits_path %>
