<%= bootstrap_devise_error_messages! %>
<div>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, role: 'form' }) do |f| %>
            <h2>Cambie su Contraseña</h2>

            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
              <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: 'Nueva Contraseña', required: '' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, autofocus: true, class: 'form-control', placeholder: 'Confirme la nueva Contraseña', required: '' %>
            </div>
            <div>
              <%= f.submit t('.change_my_password', default: 'Change my password'), class: 'btn btn-default submit' %>
              <%= render 'devise/shared/links' %>
            </div>

            <div class="clearfix"></div>

            <div class="separator">

              <div class="clearfix"></div>
              <br />

              <div>
                <h1><i class="fa fa-check"></i> Relevamientos ART</h1>
                <p>©2017 Todos los derechos reservados. Relevamientos ART es un producto de Relevamientos Digitales</p>
              </div>
            </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
