<% if user_signed_in? %>
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="/" class="site_title"><i class="fa fa-check"></i> <span>Relevamientos ART</span></a>
          <!--<a href="/" class="site_title"><%#= image_tag('favicon-32x32.png', alt: '') %><span>Relevamientos ART</span></a>-->
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
          <div class="profile_pic">
            <%=image_tag("user.png", alt: "...", class: "img-circle profile_img")%>
          </div>
          <div class="profile_info">
            <span>Bienvenido,</span>
            <h2><%= current_user.full_name %></h2>
          </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>Backoffice</h3>
            <ul class="nav side-menu">
              <li><a><i class="fa fa-edit"></i> Tareas <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><%= link_to 'Seguimiento de Tareas', visits_path %></li>
                  <li><a>Asignación de Tareas<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <!--<li><a href="#">Asignación Manual</a></li>-->
                      <li><%= link_to 'Asignación Manual', assignment_index_visits_path %></li>
                      <li><a href="#">Planificación Automática</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a><i class="fa fa-exchange "></i> Interfaz SRT <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><%= link_to 'Obtener visitas a realizar', syncro_visits_visits_path, method: :post %></li>
                  <li><%= link_to 'Enviar visitas finalizadas', completed_report_visits_path %></li>
                </ul>
              </li>
              <li><a><i class="fa fa-bar-chart-o"></i> Informes <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><%= link_to 'Impresión de Formularios', report_visits_path %></li>
                  <li><%= link_to 'Informe de cumplimiento de Visitas', finished_report_visits_path %></li>
                </ul>
              </li>
            </ul>
          </div>

          <% if current_user.role_admin? %>
              <div class="menu_section">
                <h3>Admin</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-users"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><%= link_to 'Listado de Usuarios', admin_users_path %></li>
                      <li><%= link_to 'Alta de Usuario', new_admin_user_path %></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-industry"></i> Establecimientos <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><%= link_to 'Listado de Establecimientos', admin_institutions_path %></li>
                      <li><%= link_to 'Alta de Establecimiento', new_admin_institution_path %></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-globe"></i> Zonas <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><%= link_to 'Zonas autorizadas', admin_zones_path %></li>
                      <li><%= link_to 'Alta de Zona autorizada ', new_admin_zone_path %></li>
                    </ul>
                  </li>
                </ul>
              </div>
          <%	end %>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Logout" href="#">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <%=image_tag("user.png", alt: "") %><%=	 current_user.full_name %>
                <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li>
                  <a href="javascript:;">
                    <i class="fa fa-address-card-o pull-right"></i>
                    <span>Mi Perfil</span>
                  </a>
                </li>
                <!--<li><#%= link_to edit_user_registration_path do %>
                      <#%= 'Mi Perfil' %><i class="fa fa-address-card-o pull-right"></i>
                  <#% end %>
                </li>-->
                <li>
                  <a href="javascript:;">
                    <i class="fa fa-cog pull-right"></i>
                    <span>Ajustes</span>
                  </a>
                </li>
                <li><%= link_to destroy_user_session_path, method: :delete do %>
                      <%= 'Salir' %><i class="fa fa-sign-out pull-right"></i>
                  <% end %>
                </li>
              </ul>
            </li>

            <li role="presentation" class="dropdown">
              <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell-o"></i>
                <!--<span class="badge bg-green">6</span>-->
              </a>
              <!--              <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                              <li>
                                <a>
                                  <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                  <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                  </span>
                                  <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                  </span>
                                </a>
                              </li>
                              <li>
                                <div class="text-center">
                                  <a>
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                  </a>
                                </div>
                              </li>
                            </ul>-->
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->
<% end %>
