<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag 'favicon.ico' %>

  <title>Relevamientos ART</title>

</head>

<% if user_signed_in? %>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
<% else %>
  <body class="login">
<% end %>

      <%= flash_messages %>

      <%= render 'shared/navigation' %>

      <%= yield %>

      <%= render 'shared/footer' %>

      <% if user_signed_in? %>
      <% else %>
          </div>
        </div>
      <% end %>

  <%= javascript_include_tag 'application' %>
</body>
</html>